.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(lightblue, lightpink);
}

.reveiw-main-container {
    text-align: center;
    width: 100%;
    max-width: 750px;
}

.reveiw-heading {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.review-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-container button{
    font-size: 30px;
    font-weight: 900;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 50%;
    
}